@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:700);

body {
	width: 300px;
	height : 450px;
	padding : 1em;
}
.color {
	cursor:pointer;
	font-size: 20px;
	height : 30px;
	color : grey;
	width : 100%;
}
.header {
	border : none;
	text-align:center;
	background-color : #d9534f;
	border-radius : 5px;
	width: 100%;
	color : white;
}
.sharp {
	border :1px;
}
.miseNotice {
	width:25%;
	float:left;
}
.miseNotice > span {
	float:right;
}
#miseContents {
	border: 2px solid #d9534f;
	margin-bottom:10px;
	height: 200px;
	width:100%;
	overflow-y:auto;
	padding: 1em;
}
#weatherData {
	border: 2px solid #d9534f;
	height: 300px;
	width:100%;
	overflow-y:auto;
	padding: 1em;
}
#movieData {
	border: 2px solid #d9534f;
	height: 300px;
	width:100%;
	overflow-y:auto;
	padding: 0.5em;
}
#moneyData {
	border: 2px solid #d9534f;
	height: 330px;
	width:100%;
	overflow-y:auto;
	padding: 0.5em;
}
#movieData tr {
	height : 40px;
}
#movieTable {
	position : sticky;
	top : 0px;	
}
#movieTable tr {
	font-size : 14px;
	border-bottom : 1px solid #d9534f;
}
#movieDate,#moneyDate {
	border : 1px solid #d9534f;
}
#movieTable .mData:hover {
	background-color: #ffe5e5;
}
.donut-size {
  font-size: 10em;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  float:left;
  margin-right : 5px;
  margin-bottom : 5px;
}

.pie-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0px;
}
.pie-wrapper .pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}
.pie-wrapper .half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid #1abc9c;
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}
.pie-wrapper .right-side {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.pie-wrapper .label {
  position: absolute;
  top: 0.52em;
  right: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  display: block;
  background: none;
  border-radius: 50%;
  color: #7F8C8D;
  font-size: 0.25em;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}
.pie-wrapper .shadow {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}
.pie-wrapper .smaller {
  padding-bottom: 20px;
  color: #B5B5B5;
  font-size: 0.45em;
  vertical-align: super;
}

#address {
	width: 100%;
}
#weatherTable {
	display: none;	
}
.search_weather:hover {
	color: #d9534f;
	text-decoration : underline;
}
.tr_money:hover {
	background-color: #ffe5e5;
	border-bottom : 1px solid #d9534f
}
.talkForm {
	display:none;
}
.toggle_button {
	color:white;
	background-color:#d9534f;
	padding:0.5em;
	border:1px solid white;
	border-radius : 5px;
	cursor:pointer;
}
.toggle_button:hover {
	color : #d9534f;
	border : 1px solid #d9534f;
	background-color : white;
}